attack_id: {{ attack_id_yaml }}
import_path: promptmap.attacks.{{ module_name }}:{{ class_name }}
registered_name: {{ registered_name_yaml }}
display_name: {{ display_name_yaml }}
family: {{ family_yaml }}
description: {{ description_yaml }}
source_type: {{ source_type_yaml }}
paper_title: {{ paper_title_yaml }}
paper_url: {{ paper_url_yaml }}
paper_year: {{ paper_year_yaml }}
prompt_technique_aware: {{ prompt_technique_aware }}
supports_benchmark: {{ supports_benchmark }}
target_modes: {{ target_modes_yaml }}
required_capabilities: {{ required_capabilities_yaml }}
tags: {{ tags_yaml }}
default_params: {{ default_params_yaml }}
benchmark_defaults: {{ benchmark_defaults_yaml }}
compatible_atlas_techniques: {{ compatible_atlas_techniques_yaml }}
